head{

    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    width: 600px;
    text-align: center;
    padding-top: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    
    
}

label {
    color: #777777;
}


}

div h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
}
h1 {
    font-family: 'Arial, Helvetica, sans-serif';
    color: #4aaaa5;
    font-size: 40px;
    padding-left: 20px;
    
    
}

hr {
    color: #cccccc;
    background-color: #cccccc;
    height: 2px;
    width: 95.5%;
    margin: 0 auto;
    
    

    
}

p {
   font-family: Arial, Helvetica, sans-serif;
   color: #777777;
   display: inline;
   padding-top: 50%;
   
}


.Bio {

    display: flex;
    padding-top: 20px;
} 

.Header {

    display: flex;
}
.Text {

    /* text-align: c; */
    padding: 70px 0;
}
  


* {

    margin: 0;
    padding: 0;
}

section {

    background-color: #ffffff;
    border: #dddddd;
    width: 960px;
    margin: 50px auto;



}

img{

    height: 500px;
    width: 700px;
    vertical-align: middle;
    margin: 50px auto;
    margin-left: 20px;

}

body {

    background-color: #dddddd;

}

nav {

    width: 100%;
    height: 100px;
    background-color: #ffffff;

}

ul {
  
   

}

ul li {

    list-style: none;
    display: inline-block;
    float: right;
    line-height: 100px;


}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9e9d9d;
    padding: 0 20px;
    margin-right: 20px;


}

ul li a:hover {
    
    color: #4aaaa5;

}

footer {

    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    border-top: #4aaaa5;
        
 }
 